extends layout

block content
  h1= title
  - values = [{BookName: 'StrengthsFinder', free: true, published: 1991}, {BookName: 'Emergency Care', free: false, published: 2019},{BookName: 'Culture Counts', free: false, published: 2010} ]
  div(class="container-fluid")
      each item,index in values
        div(class="row" onclick=`buy(${index})`)
          div(class="col-sm-2")  #{item.BookName}
          div(class="col-sm-2")  #{item.published}
          div(class="col-sm-2")  #{item.free}
  script.

     function buy(itemNo)
     {
       alert(`You purchased Item ${itemNo+1}`)
     }